body{
  background-color: #475c6c;
}
nav{
  background-color: #475c6c;
}
.navigation {
  position: fixed;
  z-index: 10;
}
  .navigation ul{
    margin-left: 32%;
  }

.responsive-video{
  width: 100%;
}

#about, #projects, #contact{
  background-color: #f7efd2;
}

#skills, #interests {
  background-color: #8a8583;
}

.about{
  width: 100%;
  height: 100%;
}
  .responsive-img.circle{
    width: 167px;
    margin-left: 45%;
    border: 2px solid black;
  }
  h2, h3, h4, p{
    text-align: center;
  }

.html, .css, .javascript, .jquery, .materialize, .mongo, .express, .angular, .node, .macos, .apache, .mysql, .php,
  .git, .atom, .slack{
  display: inline-block;
}
  .front_end{
    width: 150px;
    height: 150px;
    margin: 4px;
    margin-left: 80px;
  }
  .tools{
    width: 150px;
    height: 150px;
    margin-left: 203px;
  }

  .mean, .lamp{
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-left: 120px;
  }

.projects{
  width: 100%;
  height: 100%;
}
  .rps_name, .mean_name, .php_name{
    display: inline;
    position: absolute;
    left: 650px;
    font-size: 18pt;
    font-weight: 500;
  }
  .mean_store{
    /*display: inline;*/
  }
    .mean_store_dets, .rps_dets, .travel_php_dets{
      display: inline-block;
      position: absolute;
      margin-top: 50px;
      width: 829px;
    }
    .mean_store_dets{
      margin-top: 92px;
      left: 384px;
    }
    .rps_dets{
      left: 350px;
      margin-top: 75px;
    }
    .travel_php_dets{
      margin-top: 67px;
      left: 365px;

    }
  .proj_img img{
    display: inline-block;
    width: 260px;
    height: 200px;
    margin-left: 80px;
  }
.podcasts{
  width: 100%;
}
  .newbie_photo img, .rev_photo img, .tl_photo img{
    width: 200px;
    height: 200px;
  }
  .newbie_photo, .rev_photo, .tl_photo{
    margin-left: 170px;
    position: relative;
    display: inline;
  }
  .newbie_info, .rev_info, .tl_info{
    display: none;
    position: absolute;
    font-size: 10pt;
    margin-left: 168px;
    width: 202px;
    height: 200px;
    background: url(images/interests/trans-black-50.png);
    color: white;
  }
    .rev_info{
      left: -169px;
      margin-top: -207px;
      color: yellow;
    }
    .tl_info{
      right: -1px;
      top: -186px;
      color: aliceblue;
    }
.social_icons{
  margin: 18px;
}

footer.page-footer{
  background-color: #475c6c;
}
@media only screen and (min-width: 1400px) and (max-width: 2560px){
  .navigation ul{
    margin-left: 37%;
  }
  .git, .atom, .slack{
    margin-left: 3%;
  }
  .front_end, .tools, .mean, .lamp{
    width: 200px;
    height: 200px;
  }

  .rps, .mean_store, .travel_php{
    margin-left: 10%;
  }
    .rps_name, .mean_name, .php_name{
      left: 56%;
    }
    .rps_dets, .mean_store_dets, .travel_php_dets{
      left: 36%;
    }
  .newbie_photo, .rev_photo, .tl_photo{
    margin-left: 16%;
    position: relative;
  }
    .newbie_info{
      margin-left: 124%;
    }
}
@media only screen and (min-width: 907px) and (max-width: 993px){
  .navigation ul {
    margin-left: 26%;
  }

  .front_end{
    margin-left: 57%;
  }
  .tools{
    margin-left: 165%;
  }
  .mean, .lamp{
    margin-left: 100%;
  }

  .travel_php{
    margin-top: 4%;
  }
  .mean_store_dets, .rps_dets, .travel_php_dets{
    width: 57%;
  }
    .travel_php_dets{
      margin-top: 4%;
    }
  .rps_name, .mean_name, .php_name{
    width: 25%;
    left: 55%;
  }
    .php_name{
      margin-top: 0%;
    }
}

@media screen and (max-width: 768px){
  .navigation ul{
    margin-left: 15%;
  }
  .responsive-img.circle{
    margin-left: 40%;
  }
  .front_end{
    width: 100px;
    height: 100px;
    margin-left: 100%;
  }
  .tools{
    width: 100px;
    height: 100px;
    margin-left: 215%;
  }
  .mean, .lamp{
    width: 100px;
    height: 100px;
    margin-left: 110%;
  }

  .rps{
    height: 362px;
  }
  .mean_store{
    height: 230px;
  }
  .travel_php{
    height: 300px;
  }

  .travel_php{
    margin-top: 110px;
  }

  .mean_store_dets, .rps_dets, .travel_php_dets{
    width: 48%;
  }
    .rps_dets{
      margin-top: 60px;
    }
    .travel_php_dets{
      margin-top: 1%;
    }
    .mean_store_dets{
      margin-top: 40px;
    }

    .mean_name{
      margin-top: 0%;
      left: 63%;
    }
    .rps_name{
      left: 55%;
      margin-top: 0%;
    }

    .php_name{
      margin-top: -7%;
      margin-left: -26%;
    }

    .newbie_photo img, .rev_photo img, .tl_photo img{
      width: 200px;
      height: 200px;
    }
    .newbie_photo, .rev_photo, .tl_photo{
      margin-left: 128px;
      position: relative;
    }
      .tl_photo{
        margin-left: 37%;
      }
    .newbie_info, .rev_info, .tl_info{
      display: none;
      position: absolute;
      font-size: 10pt;*/
      margin-left: 168px;
      width: 202px;
      height: 200px;
      background: url(images/interests/trans-black-50.png);
      color: white;
    }
     .newbie_info{
       margin-left: 62%;
     }
    .rev_info{
      left: -169px;
      margin-top: -207px;
      color: yellow;
    }
    .tl_info{
      right: -1px;
      top: -187px;
      color: aliceblue;
    }
}

@media only screen and (min-width: 360px) and (max-width: 414px){
  body{
    width: 155%;
  }
  /* navigation */
  .navigation ul{
    margin-left: 5%;
  }
  /* images for about article */
  .responsive-img.circle{
    margin-left: 38%;
  }
  .html, .css, .javascript, .jquery, .materialize{

  }
  /* tools */
  .git, .atom, .slack{
    margin-left: 8%;
  }
  .front_end, .tools, .mean, .lamp{
    width: 77px;
    height: 77px;
    margin-left: 139%;
  }
  /* projects */

  .proj_img img{
    width: 77px;
    height: 77px;
    margin-left: -5%;
    margin-top: 22%;
  }
  /* divs in article projects tag */
  .rps, .mean_store, .travel_php{
    margin-left: 10%;
  }
    .rps{
      height: 400px;
    }
    .mean_store{
      height: 300px;
    }
    .travel_php{
      height: 347px;
    }
    /* project name - p tag */
    .rps_name, .mean_name, .php_name{
      left: 74%;
      margin-top: 6%;
      font-size: 12pt;
      width: 45%;
    }
      .php_name{
        margin-top: -9%;
        margin-left: -6%;
      }
    /* project details - p tags */
    .rps_dets, .mean_store_dets, .travel_php_dets{
      left: 41%;
      width: 105%;
      height: 98%;
    }
      .mean_store_dets{
        margin-top: 19%;
      }
  .newbie_photo img, .rev_photo img, .tl_photo img{
    width: 200px;
    height: 200px;
  }
  .newbie_photo, .rev_photo, .tl_photo{
    margin-left: 79px;
    position: relative;
  }
    .tl_photo{
      margin-left: 34%;
    }
  .newbie_info, .rev_info, .tl_info{
    display: none;
    position: absolute;
    font-size: 10pt;*/
    margin-left: 168px;
    width: 202px;
    height: 200px;
    background: url(images/interests/trans-black-50.png);
    color: white;
  }
   .newbie_info{
     margin-left: 39%;
   }
  .rev_info{
    left: -169px;
    margin-top: -207px;
    color: yellow;
  }
  .tl_info{
    right: -1px;
    top: -187px;
    color: aliceblue;
  }
}

@media only screen and (max-width: 320px){
  body{
    width: 382%;
  }
  .navigation ul{
    margin-left: 27%;
  }
  .html, .css, .javascript, .jquery, .materialize{
    margin-left: 7%;
  }
  .git, .atom, .slack{
    margin-left: 10%;
  }
  .mongo, .express, .angular, .node, .macos, .apache, .mysql, .php{
    margin-left: 8%;
  }
  .rps{
    height: 300px;
  }
  .mean_store{
    height: 287px;
  }
  .travel_php{
    height: 287px;
  }

  .rps_name, .mean_name, .php_name{
    left: 208%;
    width: 72%;
  }
  .rps_dets{
    width: 177%;
    left: 144%;
  }
  .mean_store_dets{
    width: 125%;
    left: 179%;
    margin-top: 20%;
  }
  .travel_php_dets{
    width: 155%;
    left: 142%;
    margin-top: 10%;
  }
}
